$main-1: rgb(170, 51, 255);
$main-1-trans: rgba(170, 51, 255, 0.1);
$main-2: rgb(255, 0, 191);
$main-3: rgb(255, 58, 128);
$main-4: rgb(255, 138, 83);
$main-5: rgb(255, 199, 71);
$main-6: rgb(249, 248, 113);
